* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family:'Kumbh Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: solid 1px hsl(220, 14%, 75%);
    color: hsl(219, 9%, 45%);
    font-size: 15px;
}

.perfil {
    height: 45px;
    cursor: pointer;
}

.perfil:hover {
    border-radius: 50px;
    outline: solid 2px hsl(26, 100%, 55%);
    transition: 0.1s;
}

.logo {
    height: 20px;
}

ul {
    display: flex;
    gap: 40px;
    height: 25px;
    margin-top: 5px;
}

ul li {
    margin-top: 3px;
    cursor: pointer;
}

ul li:hover {
    color: black;
    border-bottom: solid 2px hsl(26, 100%, 55%);
    transition: 0.1s;
    transition-delay: 0.1s;
}

.cart {
    display: flex;
    gap: 50px;
}

.logo-cart:hover {
    
filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(300deg) brightness(70%) contrast(1000%);
}

.logo-cart {
    width: 20px;
    height: 20px;
    align-self: center;
    cursor: pointer;
}

.img-principal {
    width: 410px;
    height: 390px;
    border-radius: 13px;
}

.mini-img img {
    width: 85px;
    border-radius: 11px;
    margin-left: 18px;
    margin-top: 22px;
}

.mini-img img:first-child {
    margin-left: 0px;
}

main {
    display: flex;
    gap: 100px;
    word-wrap: break-word;
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-left: 260px;
    letter-spacing: 1px;
}

.container-description {
    width: 50%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 8px;
}

.container-description h1 {
    font-size: 13px;
    color: hsl(26, 100%, 55%);
}

.container-description h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
}

.sobre {
    color: hsl(219, 9%, 45%);
    font-size: 14px;
    width: 415px;
    margin-top: 25px;
}

.preco {
    display: flex;
    gap: 17px;
    margin-top: 20px;
}

.preco-normal {
    color: black;
    font-size: 26px;
    font-weight: 700;
}

.desconto {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    width: 40px;
    height: 25px;
    text-align:center;
    border-radius: 4px;
    
}

small {
    color: hsl(220, 14%, 75%);
    font-size: 15px;
    font-weight: 700;
}

.add {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.ordem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 8px;
    width: 140px;
    height: 45px;
}

.ordem img {
    width: 10px;
    height: 8px;
}

button {
    width: 220px;
    height: 45px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
}

button:hover, .ordem img:hover, .mini-img img:hover  {
    cursor: pointer;
    opacity: 0.6;
}

aside {
    position: absolute;
    border: solid 1px black;
    background: white;
    left: 1020px;
    top: 75px;
    width: 335px;
    height: 225px;
}

aside h1 {
    font-size: 15px;
    color: black;
    margin-top: 10px;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
}

aside h2 {
    font-size: 15px;
    text-align: center;
    margin-top: 80px;
}

.produtos {
    display: none;

}
.img-cart {
    width: 13%;
    border-radius: 4px;
}
